<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logback.logdir" value="log/"/>
    <property name="logback.appname" value="con-lt"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d -2 %msg%n</pattern>
        </encoder>
    </appender>
     
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logback.logdir}/${logback.appname}.log</file>
        <append>true</append>
      <!--  &lt;!&ndash;滚动策略，按照时间滚动 TimeBasedRollingPolicy&ndash;&gt;
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash;文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间&ndash;&gt;
            <FileNamePattern>${logback.logdir}/error.${logback.appname}.%d{yyyy-MM-dd}.log</FileNamePattern>
            &lt;!&ndash;<fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>&ndash;&gt;
            &lt;!&ndash;只保留最近90天的日志&ndash;&gt;
            <maxHistory>90</maxHistory>
            &lt;!&ndash;用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志&ndash;&gt;
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>-->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
    </root>
     
</configuration>

