<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.conbase.dao.TestDbMapper">
    <insert id="add" parameterType="com.lt.conbase.pojo.TestDb">
        insert into testdb_1
        (name,do_somtthing,create_time,update_time)
        VALUES (#{name},#{doSomtthing},#{createTime},now())
    </insert>
</mapper>
